body {
  background: linear-gradient(to right, #f8f5f0, #eae0d5);
  color: #1f2937;
}

h1 {
  color: #2c3e50;
}

#adicionarBibliotecario {
  background-color: #d4a373;
  border-color: #d4a373;
}

#adicionarBibliotecario:hover {
  background-color: #bc8a5f;
  color: white;
}

#editarBibliotecario {
  background-color: #2c3e50;
  border-color: #2c3e50;
  color: white;
}

#editarBibliotecario:hover {
  background-color: #1e2a38;
}

#excluirBibliotecario {
  background-color: #8b5e3c;
  border-color: #8b5e3c;
  color: white;
}

#excluirBibliotecario:hover {
  background-color: #6f4a2f;
}

#modalFechar {
  background-color: rgb(212, 88, 42);
  border: hidden;
}

.card {
  background-color: white;
  border: none;
}
